{% extends 'base.html' %} 
{% load bootstrap4 %}
{% load i18n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% block content %}

<h2>{% translate 'Удаление пользователя' %}</h2>

<form method="POST">
  {% csrf_token %}
  <p>{% translate 'Вы уверены, что хотите удалить' %}"{{user.first_name}}{{user.second_name}}"?</p>
  <div>
    <button class="btn btn-danger" type="submit">{% translate "Да, удалить"%}</button>
    <!-- <a href="{% url 'users' %}">{% translate "Отмена"%}</a>  # в случае чего удалить -->
  </div>
</form>

{% endblock content %}